.photo-grid {
    display: grid;
    min-width: 1184px;
    box-sizing: border-box;
    margin: 0 48px;
    margin-top: 92px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    
}