.lead {
    display: flex;
    flex-direction: column;
    max-width: calc(100% - 296px);
    margin: 0 auto;
    margin-top: 56px;
    justify-content: center;
    
}

@media screen and (max-width: 1024px) {
    .lead {
        max-width: calc(100% - 96px);
        margin-top: 48px;
    }
}

@media screen and (max-width: 768px) {
    .lead {
        width: 768px;
        margin: 0;
        margin-top: 48px;

    }
}

@media screen and (max-width: 320px) {
    .lead {
        width: 320px;
        margin: 0;
        margin-top: 48px;

    }
}