.place__paragraphs {
    grid-area: place__paragraphs;
    display: flex;
    flex-direction: column;
    gap: 26px;
    max-width: 100%;
}

@media screen and (max-width: 768px) {
    .place__paragraphs {
        gap: 25px;


    }
}




@media screen and (max-width: 400px) {
    .place__paragraphs {
        gap: 25px;
        max-width: 288px;
        margin: 0 16px;
    }
}