.lead__title {
    display: inline-block;
    text-align: center;
    width: 720px;
    margin: 0;
    align-self: center;
    margin-left: 132px;
    margin-right: 132px;
    margin-bottom: 32px;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    color: #FFFFFF;
    
    

}