.lead__image {
    margin: 0 auto;
    max-width: 984px;
    object-fit: cover;
        
}

@media screen and (max-width: 1024px) {
    .lead__image {
        width: 928px;
        
        
    }
    
}

@media screen and (max-width: 768px) {
    .lead__image {
        width: 768px;
        
    }
    
}

@media screen and (max-width: 320px) {
    .lead__image {
        width: 320px;
        
        
    }
    
}




    
