.lead__subtitle {
    display: inline-block;
    max-width: 50%;
    font-family: 'Inter';
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.2;
    color: #FFFFFF;
    margin: 0 auto;
    margin-bottom: 64px;

}

@media screen and (max-width: 1024px) {
    .lead__subtitle {
        max-width: 69%;
        margin-bottom: 56px;
        
    }
}

@media screen and (max-width: 768px) {
    .lead__subtitle {
        max-width: 83%;
        margin-bottom: 56px;
        
    }
}

@media screen and (max-width: 320px) {
    .lead__subtitle {
        max-width: 90%;
        font-size: 16px;
        line-height: 1.25;
        margin-bottom: 40px;
        
    }
}