.cover__items {
    height: 740px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background: rgb(42 44 47 / 30%);
}

.cover__items:hover {
    background: rgb(42 44 47 / 80%);
}

@media screen and (max-width: 1024px) {
    .cover__items {
        height: 640px;
    }
}

@media screen and (max-width: 768px) {
    .cover__items {
        height: 480px;
    }
}


@media screen and (max-width: 320px) {
    .cover__items {
        height: 200px;
    }
}